---
import Layout from '~/layouts/PageLayout.astro';

import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import Content3 from '~/components/widgets/Content3.astro';
import Content4 from '~/components/widgets/Content4.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink, getBlogPermalink, getAsset } from '~/utils/permalinks';

const metadata = {
  title: 'SAIMI — Symposium on Artificial Intelligence in Medical Imaging',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: getPermalink('/#about'),
        target: '_blank',      },
      { text: 'Contact us', href: '/#contact' },
    ]}
    image={{ src: '~/assets/images/medicalimages.jpg', alt: 'MedicalImages' }}
  >
    <Fragment slot="title">
      Symposium on Artificial Intelligence for Medical Imaging
      <span class="text-accent dark:text-white"> SAIMI</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SAIMI</span> is a symposium on artifical intelligence for medical imaging organised by multiple Swiss universities.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Latest News:" description="We have just announced the event." />

  <!-- Content Widget **************** -->

  <Content2
    title='About <span class="text-accent dark:text-white"> SAIMI</span>'
    id='about'
    sections={[
    {
      subtitle: "Overview",
      text: "Advances in the accuracy and reliability of artificial intelligence (AI) have substantially accelerated its adoption in healthcare. One particularly promising application area is the AI-assisted analysis of MRI, CT, X-ray, and other medical imaging modalities, which, under suitable conditions, can lead to significant savings in time and resources. At the same time, challenges related to transparency, interpretability and model reliability remain critical barriers to widespread clinical deployment. Furthermore, heterogeneity in image acquisition strategies and modalities across institutions and hospitals complicates both standardized evaluation and practical implementation.<br /><br /> This symposium aims to bring together research groups across Switzerland working on AI for medical imaging to present recent advances, exchange new ideas and discuss both institution-specific and overarching challenges, as well as potential future solutions. Early-career researchers and students are encouraged to present their work through oral presentations or poster sessions and to engage with peers from across the Swiss research community.<br /><br /> The program will be complemented by keynote talks from experienced researchers and representatives from industry and clinical practice, who will provide perspectives on the current state of the field and emerging future directions."
    },
    {
      subtitle: "Format",
      text: "This symposium will be held as an in-person event in Bern."
    }
  ]}
  >
  </Content2>

    <!-- Steps Widget ****************** -->

  <Steps3
    title="Important Dates"
    id="importantdates"
    items={[
      {
        title: '19.03.2026: <span class="font-medium">Opening abstract submission</span>',
        description:
          "",
        icon: 'tabler:number-1',
      },
      {
        title: '30.04.2026: <span class="font-medium">Astract submission deadline</span>',
        description:
          "",
        icon: 'tabler:number-2',
      },
      {
        title: '14.05.2026: <span class="font-medium">Final decisions</span>',
        description:
          '',
        icon: 'tabler:number-3',
      },
    ]}
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps3>

    <!-- Content Widget **************** -->

  <Content2
    title='Call for Abstracts'
    id='call'
    sections={[
    {
      subtitle: "Scope",
      text: "The goal of SAIMI is to provide the opportunity to meet and discuss research ideas with the local MICCAI/MIDL community around Switzerland. To this end, we invite <strong>short abstract submissions on the topics related to AI for medical image analysis</strong>. Topics of interests include (but are not limited to):",
      bullets: [
        "Advancements to predictive models for medical imaging (e.g. segmentation, classification etc.)",
        "Multi-modal models",
        "Trustworthy AI and fairness",
        "Generalizable AI in medical imaging",
        "AI model monitoring",
        "Image synthesis and generative modelling",
        "Clinical translation"
      ],
    },
    {
      subtitle: "",
      text: "This symposium is <strong>non-archival</strong>, and we <strong>welcome submissions of preliminary results</strong> (work in progress), as well as <strong>work under submission or recently published work</strong> (publication date 2025 or 2026).Submissions will be reviewed in a <strong>double-blind manner</strong>. The aim of the review process is to determine (1) fit within the SAIMI scope, (2) quality of the abstract, (3) guide poster and spotlight talks selection.",
    },
    {
      subtitle: "Submission Format",
      text: "We invite you to submit a <strong>1-page abstract</strong> describing your work, following this structure: 1) Objective of the study, 2) Motivation & background, 3) Short description of methods, 4) Summary of main results, 5) Conclusion.<br /><br /> Please submit your abstract as a .pdf file, in Arial or Time New Roman, minimum 10pt font size. Figures or tables are allowed. Author names, affiliations and acknowledgements, as well as any obvious phrasings or clues that can identify authors must be removed to ensure anonymity. <br /><br />Note that the 1 page limit refers only to the main content. Including references and acknowledgements the submission may exceed 1 page."
    },
    {
      subtitle: "How to submit?",
      text: "We will be using CMT for abstract submission, the submission portal will open on the 19.03.2026 and close on 30.04.2026. The link to the submission portal will be posted here once the system is open for submission. The Microsoft CMT service was used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support."
    },
    {
      subtitle: "Presentation",
      text: "All accepted abstracts will be presented as a poster during the symposium day. Additionally, we will select a number of papers for oral presentation based on the reviewers' suggestions."
    },
  ]}
  >
  </Content2>

  <!-- Content Widget **************** -->

<Content3
  title="Program"
  id="program"
  sections={[
    {
      id: "date-location",
      subtitle: "Date and Location",
      text: "18.06.2026 in Bern",
    },
    {
      id: "schedule",
      subtitle: "Schedule (preliminary)",
      bullets: [
        "09:00–09:15 Registration",
        "09:15–09:30 Welcome words and DDM introduction",
        "09:30–10:15 Keynote 1",
        "10:15-11:00 6 x 5mins lightning talks",
        "11:00-11:15 Coffee + poster setup",
        "11:15-12:00 Poster session 1",
        "12:00-13:00 Lunch",
        "13:00-14:30 Keynote 2 & 3",
        "14:30-15:00 6 x 5mins lightning talks",
        "15:00-15:00 Coffee + poster setup",
        "15:15-16:00 Poster session 2",
        "16:00-16:45 Sponsor presentation",
        "16:45-17:00 Closing words and goodbye + awards"
      ],
    },

    /*{
      id: "keynote",
      subtitle: "Keynote",
      text: "We will have multiple keynotes by highly interesting speakers. More information will follow shortly.",
    },
    */
  ]}
>
  <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
</Content3>

  <!-- Content Widget **************** -->
<!-- 
  <Content2
    title='Resources'
    id='resources'
    sections={[
    {
      subtitle: "Accepted Abstracts",
      text: "All accpeted abstracts will be listed here.",
    },
  ]}
  >
  </Content2>
-->

  <!-- Content Widget **************** -->
  <Content2
    title='Attend'
    id='attend'
    sections={[
    {
      subtitle: "Registration",
      text: "Registration will open soon.",
    },
    {
      subtitle: "Prices",
      text: "Attending the event is free of charge. However, registration is mandatory.",
    },
  ]}
  >
  
  </Content2>

    <!-- Content Widget **************** -->

<Content4
  title="Organising Comittee"
  id="oc"
  sections={[
    {
      name: "Tim Flühmann",
      role: "University of Bern, Switzerland",
      image: { src: '~/assets/images/tim.png', alt: 'Tim Flühmann' },
    },
    {
      name: "Mélanie Roschewitz",
      role: "ETH Zürich, Switzerland",
      image: { src: '~/assets/images/melanie.png', alt: 'Mélanie Roschewitz' },
    },
    {
      name: "Anna M. Wundram",
      role: "University of Lucerne, Switzerland",
      image: { src: '~/assets/images/anna.jpeg', alt: 'Anna M. Wundram' },
    },
    {
      name: "Samin Beheshti Zavareh",
      role: "Student at University of Bern, Switzerland",
      image: { src: '~/assets/images/samin.png', alt: 'Samin Beheshti Zavareh' },
    },
  ]}
>
  <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content4>

 <!-- Content Widget **************** -->
  <Content4
  title="Steering Comittee"
  id="sc"
  sections={[
    {
      name: "Christian F. Baumgartner",
      role: "University of Lucerne, Switzerland",
      image: { src: '~/assets/images/christian.jpg', alt: 'hristian F. Baumgartner' },
    },
    {
      name: "Meritxell Bach Cuadra",
      role: "CIBM Center for Biomedical Imaging, Lausanne University (UNIL), Radiology Department (CHUV)",
      image: { src: '~/assets/images/meritxell.jpeg', alt: 'Meritxell Bach Cuadra' },
    },
    {
      name: "Ece Ozkan",
      role: "University of Basel, Switzerland",
      image: { src: '~/assets/images/ece.jpeg', alt: 'Ece Ozkan' },
    },
    {
      name: "Lisa M. Koch",
      role: "University of Bern, Switzerland",
      image: { src: '~/assets/images/lisa.png', alt: 'Lisa M. Koch' },
    },
    {
      name: "Ender Konukoglu",
      role: "ETH Zürich, Switzerland",
      image: { src: '~/assets/images/ender.jpg', alt: 'Ender Konukoglu' },
    },
    {
      name: "Henning Müller",
      role: "HES-SO Valais, Switzerland",
      image: { src: '~/assets/images/henning.jpg', alt: 'Henning Müller' },
    },
  ]}
>
  <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content4>


  <!-- Content Widget **************** -->

  <Content2
    title='Contact'
    id='contact'
    sections={[
    {
      subtitle: "In case of questions, please feel free to reach out!",
      text: "anna.wundram@unilu.ch",
    },
  ]}
  >
  </Content2>


</Layout>
